.we-do {
  padding-top: 11.6%;

  &__title {
    color: #2c4058;
    font-family: Gotham, sans-serif;
    font-size: 44px;
    font-weight: 700;
    margin: auto auto 81px;
    text-align: center;
    text-transform: uppercase;
    width: 27%;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;

    &--bottom {
      margin-top: 200px;
    }
  }

  &__image-wrapper {
    position: relative;
    width: 53.2%;

    &::before {
      background-image: url('../../images/joel-filipe.png');
      background-repeat: no-repeat;
      background-size: 100%;
      content: "";
      display: block;
      max-width: 100%;
      padding-top: 73%;
      position: absolute;
      top: 73px;
      right: 0;
      bottom: 0;
      left: 15px;
      z-index: 1;
    }

    &--right {
      display: flex;
      justify-content: flex-end;

      &::before {
        background-image: url('../../images/commerce.png');
        background-repeat: no-repeat;
        background-size: 99%;
        content: "";
        display: block;
        max-width: 100%;
        padding-top: 73.7%;
        position: absolute;
        top: 68px;
        right: 0;
        bottom: 0;
        left: -7px;
        z-index: 1;
      }
    }
  }

  &__box {
    background-color: #55b7ff;
    margin-bottom: 7px;
    position: relative;
    top: 0;
    width: 32%;

    &--blue {
      padding-bottom: 162px;
      width: 60.2%;
    }

    &--purple {
      align-self: end;
      background-color: unset;
      width: 91%;
    }

    &--commerce {
      position: absolute;
      top: 71px;
      left: 63px;
      width: 89%;
      z-index: 1;
    }
  }

  &__item {
    margin-top: 77px;
    width: 40.5%;
  }

  &__item-title {
    color: #2c4058;
    font-family: Gotham, sans-serif;
    font-size: 44px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 31px;
    text-transform: uppercase;

    &::before {
      content: "one world\A\A";
      display: block;
      white-space: pre;
      font-family: "Gotham - Book", sans-serif;
      font-size: 22px;
      font-weight: 400;
    }

    &--left {
      margin-top: 42px;
      padding-left: 14px;

      &::before {
        content: "international\A\A";
        display: block;
        white-space: pre;
      }
    }
  }

  &__desc {
    color: #4b5562;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 96%;

    &--left {
      letter-spacing: 0.09px;
      padding-left: 14px;
    }
  }

  &__link {
    border: 1px solid black;
    color: #2c4058;
    display: block;
    font-family: "Gotham - Book", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 2.75;
    margin-top: 33px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 39%;

    &--left {
      margin-left: 15px;
      padding-top: 7px;
      width: 39%;
    }
  }

  &__location {
    color: #2c4058;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-style: italic;
    line-height: 30px;
    margin-top: 50px;

    &::before {

    }
  }
}
